/* Font */
@font-face {
  font-family: "roboto";
  src: url("fonts/roboto.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;
  font-family: roboto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/* Wraps whole layout */
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.7fr 2fr 0.9fr;
  grid-template-rows: 9rem 1fr;
}
/* Header */
.header {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  grid-area: 1 / 2 / 2 / 4;
}
/* Sub-header 1 */
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-side,
.right-side {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  gap: 1rem;
}
.left-side :first-child:hover,
.right-side :nth-child(n):hover {
  cursor: pointer;
}
#search {
  width: 45vw;
  border: none;
  border-radius: 30px;
  background-color: #f5f5f5;
}
.top-header-profile {
  width: 32px;
}
/* Subheader 2 */
button {
  border: none;
  background-color: #03a9f4;
  border-radius: 20px;
  color: white;
  padding: 0.2rem 1rem;
  font-weight: 600;
  transition: ease-in-out;
  box-shadow: 0 0 8px #03a9f420;
}
button:hover {
  transform: scale(1.1);
}
/* Sidebar */
.sidebar {
  background-color: #03a9f4;
  grid-area: 1 / 1 / -1 / 2;
  padding: 1rem;
  color: #fff;
}

.sidebar-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#dashboard-icon {
  width: 40px;
}
.icon {
  width: 20px;
}
.sidebar-options-1,
.sidebar-options-2 {
  display: flex;
  flex-direction: column;
  margin-top: 5.2rem;
  margin-left: 0.7rem;
  gap: 1.6rem;
}
.sidebar-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sidebar-card h3:nth-child(n):hover {
  cursor: pointer;
  color: #0c4f6e;
}
/* Projects/Main Body Section */
.projects {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.9rem repeat(3, 1fr);
  padding: 1.4rem 0 1.4rem 1.4rem;
  column-gap: 20px;
  font-size: small;
}
.projects > h1 {
  grid-area: 1 / 1 / 2 / 3;
}
.projects > article {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  border-left: 5px solid #ffc107;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: ease-in-out;
}
.projects > article > p {
  opacity: 70%;
}
.projects > article:not(:nth-last-child(-n + 2)) {
  margin-bottom: 20px;
}
.projects > article:hover {
  transform: scale(1.01);
  border-left: 5px solid #03a9f4;
}
.icons {
  position: absolute;
  display: flex;
  bottom: 20px;
  right: 20px;
  gap: 1rem;
  cursor: pointer;
}
.icons img:nth-child(n):hover {
  transform: scale(1.1);
}
/* Announcements and Trending section */
.extra {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1.9rem 1fr 0.1fr 1fr;
  padding: 1.4rem;

  font-size: small;
}
.extra > article {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.extra-text {
  font-size: 0.7rem;
  opacity: 70%;
}
/* Trending section/article */
.trending {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.profile {
  width: 50px;
  border-radius: 30px;
}
.trending-card {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.trending-user p:last-child {
  opacity: 70%;
}
.trending-user p:first-child:hover {
  font-weight: 700;
}
